.navBar {
  height: 100%;
  position: sticky;
  top: 0;
  background-color: white;

  .navBarContainer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: auto;

    .left {
      h1 {
        font-size: 30px;
        font-weight: bold;
        color: lightskyblue;
        cursor: pointer;
      }
    }
    .middle {
      display: flex;
      gap: 20px;

      span {
        font-size: 18px;
        cursor: pointer;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }

      .logoutUser {
        font-size: 18px;
        cursor: pointer;
      }

      button {
        font-size: 18px;
        border: none;
        padding: 10px 20px;
        color: white;
        background-color: lightskyblue;
      }
    }
  }
}
