* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Chivo, sans-serif;

  button {
    cursor: pointer;
  }

  .link {
    text-decoration: none;
    color: inherit;
  }
}
